@model IndexViewModel

<ul class="pagination center">
    @if (Model.PageNumber > 1)
    {
    <li class="disabled">
        <a asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category" asp-route-pageNumber="@(Model.PageNumber - 1)">
            <i class="material-icons">chevron_left</i>
        </a>
    </li>
    }

    @foreach (var p in Model.Pages)
    {
        if (p == -1)
        {
            <span class="three-dots"> ... </span>
        }
        else
        {
        <li class="@(p == Model.PageNumber ? "active" : "")">
            <a asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category" asp-route-pageNumber="@p">@p</a>
        </li>
    }
    }


    @if (Model.NextPage)
    {
<li class="waves-effect">
            <a asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category" asp-route-pageNumber="@(Model.PageNumber + 1)">
                <i class="material-icons">chevron_right</i>
            </a>
        </li>
    }


</ul>
